.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 110px;
  background: #2980b9;
  padding-right: 30px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 240px;


}
.sidebar .logo-details{
  height: 80px;
  margin-left: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;

}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar.open .logo-details #btn{
  margin-right: -8px !important;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 8%;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  height: 100%;
  width: 100%;
}
.sidebar li{
  position: relative;
  margin-bottom: 8px;
  list-style: none;
}
.sidebar li i{
  font-size: 26px !important;
  margin-bottom: 25px !important;
}
.logo-details i{
  font-size: 26px !important;
}
.sidebar li .links_name{
  vertical-align: top !important;
  margin-top: -23px;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px #2980b9;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 49px;
  width: 100%;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 65px;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #2980b9;
  color: #FFF;
  border-style: none;
  border-radius: -10px !important;
}
.sidebar.open .bx-search{
  background: #1d1b31;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  border-radius: 20px !important;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #2980b9;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 110px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  opacity: 70%  ;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar li.profile:hover{
  color: #fff;
}

.sidebar.open li.profile{
  width: 240px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.sidebar.open ~ {
  left: 250px;
  width: calc(100% - 100px);

}
.sidebar.open .profile a{
  display: none;
}
.complete_name{
  padding-top: 5px !important;
}
.profile a{

  display: none;
}/* END OF SIDE NAV */


/* DROPDOWN profile*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 18px;
  line-height: 19px;
  border: none;
}

.dropdown {
  position: relative;
  float: right;
  line-height: 30px;
  list-style: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-right: 1%;
  margin-top: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: -8px;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  line-height: 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  border-radius: 8px;
}
/*Main-Section*/
.header{
  transition: all 0.5s ease;
  background-color: #fff;
  box-shadow: 0 5px 5px #e3dddd;
  height: 85px;
  z-index: 2;
  padding-left: 130px;
  position: relative;
  width: 100%;

}

.header h2{
  line-height: 80px;
  display: inline-block;

}
.container{
  background-color: #f4f2f2;
  position: relative;
  padding-left: 130px !important;
  min-height: 900px !important;
  min-width: 100% !important;
  padding-top: 40px;
}
.container .card {
  background-color: #f5f5f5;
  box-shadow:  4px 8px #888888;
  border-style: solid;
  border-color: #063247;
}
.card button {
  float: right;
  border-radius: 5px;
  border-style: none;
  background-color: #063247;
  margin-bottom: 30px;

}
/*Table- BUTTTOOOONSSS*/
#enrollees{
  background-color: #fff;
}
#edit-product-form{
  width: 100%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 50px;

}
#edit-product-form input{
  line-height: 40px;
  padding: 5px 12px;
  border-radius: 7px !important;
  border-color: #1d1b31 !important;
  border-style: solid !important;
}
.product-image{
  display: block;
  text-align: center !important;
  justify-content: center !important;
}

#add-product{
  background-color: #2980b9;
  border-style: none;
  text-decoration: none;
  color: #fff;
  float: right;
  cursor: pointer;
}
#add-product:hover{
  color: #fff !important;
  background-color: #1d1b31 !important;
}

#delete-btn, #save-btn, #close-edit{
  background-color: #2980b9;
  border-style: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
}
#file-option{
 width: 120px;
 background-color: #fff !important;
 border-style: none;
}
#close-edit{
  vertical-align: top;
  float: right;


}
#save-btn{
  vertical-align: top;
  float: right;
  margin-left: 10px !important;

}
#delete-btn:hover{
  color: #fff;
  background-color: #1d1b31;
}
#save-btn:hover{
  color: #fff;
  background-color: #1d1b31;
}
#close-edit:hover{
  color: #fff;
  background-color: #1d1b31;
}
#update-btn{
  background-color: #2980b9;
  text-decoration: none;
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
}
#update-btn:hover{
  color: #fff;
  background-color: #1d1b31;
}
#product-input input{
  line-height: 40px;
  padding: 5px 12px;
  border-radius: 7px !important;
  border-style: solid ;
  border-color: #e3dddd; ;
}


@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
  .logo-details i {
    display: none;
  }
}